.item {
  cursor: pointer;
  background-color: var(--container-bg-color);
  padding: 2.5rem;
  transition: background-color 0.2s ease-in-out;
}

.item:nth-child(odd) {
  background-color: var(--container-odd-bg-color);
}

.item:hover {
  background-color: var(--container-hover-bg-color);
}

.item-author {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  font-size: 1.2rem;
}

.item-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 1rem;
  gap: 2rem;
}

.item-header-h3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.icons {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.icons button {
  font-size: 1.8rem;
}
