.button {
  cursor: pointer;
  background-color: #4caf50;
  border: none;
  color: white;
  padding: 1.5rem 3.2rem;
  text-align: center;
  text-decoration: none;
  display: block;
  line-height: 1;
  font-size: 1.6rem;
}
