.textarea-container {
  margin-bottom: 2.2rem;
}

.textarea-label {
  font-size: 1.2rem;
  margin-bottom: 0.6rem;
}

.textarea {
  resize: none;
  border: none;
  width: 100%;
  padding: 1.2rem 1.6rem;
  border-bottom: 1px solid var(--input-border-color);
  font-size: 1.8rem;
  outline: none;
  background-color: var(--input-bg-color);
  color: var(--input-color);
  transition: border-bottom 0.2s ease-in-out;
}

.textarea:focus {
  border-bottom: 1px solid var(--input-focus-border-color);
}

.textarea::placeholder {
  color: var(--input-placeholder-color);
}

.textarea-error {
  border-bottom: 1px solid var(--color-red);
}

.textarea-error:focus {
  border-bottom: 1px solid var(--color-red);
}

.textarea-error-message {
  color: var(--color-red);
  font-size: 1.2rem;
  margin-top: 0.6rem;
}
