.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.pagination-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  margin: 0 0.5rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.pagination-item__active {
  background-color: #ccc;
  color: var(--color-black);
}

.pagination-item:hover {
  background-color: #ccc;
}
