.container {
  width: 100%;
  max-width: 120rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.border {
  border: 1px solid red;
}

.grid-2 {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27.5rem, 1fr));
  grid-gap: 1rem;
}
