:root {
  --color-primary: #f5f5f5;

  --body-bg-color: #232323;
  --body-color: #ebebeb;

  --container-bg-color: #323232;
  --container-odd-bg-color: #444;
  --container-hover-bg-color: #555;

  --color-red: #ef4444;

  --color-black: #000;
  --color-white: #fff;

  --icon-bg-color: #fff;
  --icon-color: #000;
  --icon-hover-bg-color: #ccc;

  --icon-nb-color: #aaa;
  --icon-nb-hover-bg-color: #fff;

  --input-bg-color: #323232;
  --input-color: #fff;
  --input-placeholder-color: #777;
  --input-border-color: #777;
  --input-focus-border-color: #fff;

  --sm: 640px;
  --md: 768px;
  --lg: 1024px;
  --xl: 1280px;
  --2xl: 1536px;
}
